# Окружение и кэш
.venv/
__pycache__/
.idea/
logs/

# Секретные ключи и базы данных
*.key
*.lic
*.dat
settings.json
settings.py
keygen.py

# Текстовые файлы
*.txt
*.log

# Результаты сборки
build/
dist/
*.spec